.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing-lg;
  align-items: stretch;
}

.skeleton {
  flex: 1;
  height: 31.8rem;
  margin-bottom: 6rem;
}

@include respond(lg) {
  .skeleton {
    height: 28rem;
    margin-bottom: 4rem;
  }
}

@include respond(md) {
  .skeleton {
    height: 24rem;
    margin-bottom: 3rem;
  }
}

@include respond(sm) {
  .skeleton {
    height: 22rem;
    margin-bottom: 2rem;
  }
}
