@keyframes skeleton-shimmer {
  0% {
    background-position-x: 200%;
  }
  100% {
    background-position-x: 0%;
  }
}

.skeleton {
  border-radius: $spacing-xs;
  animation: skeleton-shimmer 2s ease-out infinite;
  background: linear-gradient(
    100deg,
    $color-grey-1,
    $color-grey-1 50%,
    $color-white 60%,
    $color-grey-1 70%
  );
  background-size: 200% 100%;
  background-attachment: fixed;
}
