.card {
  padding: $spacing-sm;
  gap: $spacing-md;
}

.content {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
  align-items: center;

  & > div {
    display: flex;
    gap: $spacing-sm;
  }
}