.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-lg;
}

.skeleton {
  flex: 1 1 20rem;
  min-width: min(100%, 20rem);
  margin: $spacing-sm 0;
  height: 26.8rem;
}

@include respond(md) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@include respond(sm) {
  .grid {
    grid-template-columns: 1fr;
  }
}
