.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: $spacing-md;
  min-width: 0;
  text-align: left;
}

.header {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
}

.price {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
}

.actions {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: $spacing-lg;
  width: 100%;
  margin-top: $spacing-lg;
}

@include respond(sm) {
  .actions {
    & > button:first-child {
      flex: 1;
    }
  }
}
